/*main container*/

#container {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;

}

/*header*/
#header {
  height: 1000px;
}

/*Top NavBar*/
.top_navbar {

  width: 100%;
  margin: 0;
  position: relative;

  .navbar_components {
    overflow: auto;
    max-width: 1170px;
    background-color: red;
    margin: auto;
    padding: 0;
  }

  .dropdown {
    display: inline-block;
    float: left;
  }

  .dropbtn {
    text-transform: uppercase;
    color: #777777;
    border: none;
    cursor: pointer;
  }

  .components {
    font-size: xx-small;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: blue;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*-Login popup*/
  .login {
    float: left;
  }
}

/*navbar icons
 */
.navbar_icons {
  float: right;

  #mySidenav a {
    position: absolute;
    left: 0;
    transition: 0.3s;

    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  #mySidenav a:hover {
    left: 20px;
  }

  .slide {

    background-color: blue;
  }

}

/*Top Nav Bar*/

