
.header_first_cont {
  max-width: 1170px;
  margin: auto;
  overflow: auto;
  padding: 0 15px;

  .header_first_cont_contents {
    float: left;
    margin: auto;
    overflow: auto;

    .compon_bar {
      float: left;
      margin-right: 40px;
      padding: 12px 0;
      font-size: 11px;
      color: #777777;
    }
  }

  .icons_bar {
    float: right;

    a.icons {
      float: left;
      height: 32px;
      width: 32px;
      margin: 5px 2px;
      text-align: center;
      border-bottom-left-radius: 20%;
      border-top-left-radius: 20%;
      color: #777777;

      i {
        padding-top: 9px
      }
    }
  }

}